body {
    padding: 0;
    margin: 0;
}

#hero_section,
#about_us,
#reviews,
#form,
#visit_us {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#hero_section {
    background-color: blue;
    height: 100vh;
    /* border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px; */
    overflow: clip;
}

#hero_section > img {
    display: inline;
    align-self: flex-end;
    rotate: -30deg;
}

#about_us {
    background-color: brown;
    height: 100vh;
}

#img_box {
    height: 100px;
    width: fit-content;
    background-color: chocolate;
    overflow: visible;
}

#img_box > img {
    justify-self: center;
}