body {
    padding: 0;
    margin: 0;
    background-color: #f7f8ed;
}

html {
    scroll-behavior: smooth;
}

h1 {
    /* font-family: "Roboto", serif; */
    font-family: "Bangers", system-ui;
    letter-spacing: 4px;
    font-size: 45px;
    font-weight: 900;
    /* font-style: oblique; */
    text-transform: uppercase;
    margin-bottom: 0;
}

p {
    font-family: "Noto Sans", sans-serif;
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
    word-spacing: 1.2px;
    line-height: 2rem;
}

#hero_section,
#about_us,
#reviews,
#form,
#visit_us {
    margin: 0;
    padding: 0;
    width: 100%;
}

#menu_bar {
    position: fixed;
    display: inline-flex;
    justify-content: space-around;
    z-index: 1;
    width: 100%;
    height: 60px;
    background-color: #1b1b1d;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#menu_bar > nav {
    align-self: center;
    /* justify-content: flex-end; */
    float: right;
    font-family: "Bangers", system-ui;
    letter-spacing: 0.2em;
}

#menu_bar > nav > a {
    color: #f7f8ed;
    text-decoration: none;
    border-color: transparent;
    border-style: solid;
    border-width: 3px;
    border-radius: 20px;
    padding: 7px 14px;
    margin-left: 80px;
    transition: all 0.30s;
}

#menu_bar > nav > .nav_btn:hover {
    /* background-color: #faaa14; */
    /* border-style: solid; */
    border-color: #faaa14;
    /* color: #1b1b1d; */
}

#CTA {
    background-color: #a70018;
}

#CTA:hover {
    background-color: transparent;
    border-color: #a70018;
}

#hero_section {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 60px;
    z-index: 1;
    background-color: #a70018;
    height: calc(100vh - 60px);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    overflow: clip;
}

#welcome_txt {
    /* color: #1B1B1D; */
    /* position: fixed; */
    color: #f7f8ed;
    /* background-color: #faaa14; */
    border-radius: 7px;
    width: 600px;
    height: fit-content;
    padding: 25px;
}

#welcome_txt > p {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 500;
    word-spacing: 1.2px;
    line-height: 2rem;
}

#hero_section > img {
    max-width: auto;
    height: 60%;
    float: right;
    /* margin: 25px 150px; */
    transition: all 0.60s;
}

#hero_section > img:hover {
    rotate: -20deg;
    height: 65%;
    /* cursor: pointer; */
}

#container {
    padding: 20px;
    margin-top: 45px;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}

#container > img {
    margin: 10px;
    width: 20%;
    border-style: solid;
    border-color: #faaa14;
    border-width: 7px;
    border-radius: 8px;
    box-shadow: 3px 4px #1b1b1d;
    transition: all 0.35s;
}

#container > img:hover {
    width: 21%;
    /* cursor: pointer; */
}

#about_us {
    /* border-style: solid; */
    background-color: #f7f8ed;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    /* padding: 0 20px; */
    padding-top: 60px;
    height: calc(100vh - 60px);
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;

}

#about_us > img {
    margin: 25px;
    height: 55%;
    border-radius: 8px;
    border-style: solid;
    border-color: #145E9F;
    border-width: 7px;
    box-shadow: 3px 4px #1b1b1d;
}

#features {
    color: #1b1b1d;
    max-width: 55%;
    margin: 25px;
}

#features > h1 {
    color: #145E9F;
}

#reviews {
    margin-top: -15px;
    padding-top: 60px;
    padding-bottom: 65px;
    height: calc(100vh - 60px);
    min-height: fit-content;
    color: #f7f8ed;
    background-color: #145E9F;
    text-align: center;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#review_cards {
    margin-top: 50px;
    width: 100%;
    height: fit-content;
    display: inline-flex;
    justify-content: space-evenly;
}

.profile-card {
    width: 250px;
    height: fit-content;
    padding: 15px;
    background-color: #f7f8ed;
    border: 3px solid #faaa14;
    border-radius: 8px;
    box-shadow: 3px 4px #1b1b1d;
    text-align: center;
    transition: all 0.35s;
}

.profile-card:hover {
    transform: translateY(-20px);
    cursor: pointer;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 15px;
}

.profile-text > h3 {
    font-family: "Roboto", serif;
    font-size: 20px;
    font-weight: 900;
    margin: 0;
    color: #1b1b1d;
}

.profile-text > h3 > .date {
    font-size: 17px;
    font-weight: 600;
}

.profile-text > p {
    font-size: 0.9em;
    color: #1b1b1d;
    margin-top: 5px;
    line-height: 25px;
    text-align: center;
}

#form {
    /* background-color: #145E9F; */
    border-bottom-left-radius: 15px;
    margin-top: -15px;
    display: inline-flex;
    justify-content: space-between;
    
}

#newsletter {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    /* background-color: #a70018; */
}

#newsletter > h1 {
    color: #1b1b1d;
    /* text-align: center; */
}

#form > img {
    z-index: -1;
    height: 500px;
    border-left: 7px solid #faaa14;
    border-bottom-right-radius: 15px;
}

#inputs {
    /* background-color: #145E9F; */
    margin-top: 35px;
    height: 45px;
    width: 800px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.info {
    font-family: "Noto Sans", sans-serif;
    font-size: 1em;
    padding: 0 10px;
    height: 100%;
    width: 60%;
    margin: 15px;
    border-radius: 10px;
    border-style: solid;
    border-color: #1b1b1d;
    box-shadow: 3px 4px #1b1b1d;
}

#subscribe {
    padding: 0 15px;
    font-family: "Bangers", system-ui;
    letter-spacing: 0.2em;
    font-size: 1.1em;
    color: #f7f8ed;
    height: 100%;
    margin: 15px;
    background-color: #a70018;
    border-style: none;
    border-radius: 10px;
    box-shadow: 3px 4px #1b1b1d;
    transition: all 0.30s;
}

#subscribe:hover {
    cursor: pointer;
}

#visit_us {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    flex-direction: column;
    z-index: -1;
    margin-top: -15px;
    padding-top: 60px;
    height: calc(100vh - 60px);
    background-color: #a70018;
    color: #f7f8ed;
}

#visit_us > iframe {
    border-radius: 8px;
    margin: 25px;
}

#material-icons {
    color: #1b1b1d;
}

#contact_info {
    /* background-color: #faaa14; */
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    height: fit-content;
}

.info-card > span {
    color: #1b1b1d;
}

.info-card {
    width: 250px;
    height: 110px;
    padding: 15px;
    background-color: #f7f8ed;
    border: 3px solid #faaa14;
    border-radius: 8px;
    box-shadow: 3px 4px #1b1b1d;
    text-align: center;
    transition: all 0.35s;
}